::placeholder{
    color: white;
    opacity: 1;
}
main{
    width: 75%;
    margin:0 auto;
}

.hr{
    height: 10px;
    background-color: black;
}

textarea{
    border: 0;
    resize: none;
    height: 30px;
    width: 100%;
    background-color: inherit;
    color: black;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#dee2e6;
    height: 1px;
    margin: 0;
  }

  .py-2px{
        padding: 2px 0;
  }

  .card{
      background-color: inherit;
  }

  .past-time{
      background-color: rgb(218, 16, 16);
      color:blue;
  }

  .present-time{
      background-color: rgb(224, 174, 10);
  }

  .future-time{
      background-color: rgb(4, 160, 4);
  }

  button{
      background-color: transparent;
      border: 0;
  }